:root {
  --Primary-Dark-Cyan: hsl(185, 75%, 39%);
  --Primary-VeryDarkBlue: hsl(229, 23%, 23%);
  --Primary-DarkGrayishBlue: hsl(227, 10%, 46%);

  --Neutral-DarkGray: hsl(0, 0%, 59%);
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: var(--Primary-Dark-Cyan);
<<<<<<< HEAD

  /* background-image: url("images/bg-pattern-bottom.svg"), url("images/bg-pattern-top.svg");
  background-position: calc(50% + 450px) calc(50% + 500px), calc(50% - 500px) calc(50% - 400px);
  background-repeat: no-repeat;
  background-size: 950px, 950px; */

=======
>>>>>>> 622e00b1c133333fdab91a18a15eb86c4e649daf
}

.top-pattern {
  position: absolute;
  right: 45%;
  bottom: 40%;
  z-index: -1;
}

.bottom-pattern {
  position: absolute;
  left: 45%;
  top: 40%;
  z-index: -1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
<<<<<<< HEAD

=======
>>>>>>> 622e00b1c133333fdab91a18a15eb86c4e649daf
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 9;
}

footer {
  flex: 1;
  font-size: 11px;
  text-align: center;
}
footer a {
  color: hsl(228, 45%, 44%);
}

.avatar {
  width: 96px;
  border-radius: 50%;
  border: 2px solid red;
}

.card {
  height: 375px;
  text-align: center;
  background-color: white;
  border-radius: 4px;
  flex-basis: 350px;
}
