:root {
  --Primary-Dark-Cyan: hsl(185, 75%, 39%);
  --Primary-VeryDarkBlue: hsl(229, 23%, 23%);
  --Primary-DarkGrayishBlue: hsl(227, 10%, 46%);

  --Neutral-DarkGray: hsl(0, 0%, 59%);
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: var(--Primary-Dark-Cyan);
  text-align: center;
}

img {
  max-width: 96px;
  height: 96px;
border-radius: 50%;
  border: 2px solid red;
}

.card {
  width: 350px;
  height: 374px;
  text-align: center;
  background-color: white;
}

.row-stats {
  display: flex;
}
